<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong id="heading">Title</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Ur:</strong>
  <%= @link.ur %>
</p>
<div class="btn-group">
 <% if @link.user == current_user %>
          <button class="btn btn-primary">  <%= link_to 'Edit', edit_link_path(@link) %></button>
         <button class="btn btn-primary">   <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <% end %>
      
<button class="btn btn-primary"><%= link_to 'Back', links_path %></button>
</div>

</div><!-- container -->