
<div class="container">
<div class="border-form-div">
  <h2>Sign in</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true %>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if devise_mapping.rememberable? -%>
    <div class="checkbox"><label><%= f.check_box :remember_me,:class => "checkbox "%> Rembmer me</label> </div>
    <% end -%>
    <%= f.submit "Sign in" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
</div>
